<ul class="acordeon-list js-acordeon">
  <li class="acordeon-list__item js-acordeon-item">
    <div class="acordeon-list__desc">
      <button class="acordeon-list__btn js-acordeon-btn" type="button">
        <span class="acordeon-list__btn-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </span>

        <span class="acordeon-list__btn-ico"></span>
      </button>

      <div class="acordeon-list__text-wrap">
        <div class="acordeon-list__text js-accodreon-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst
            pulvinar est facilisi condimentum commodo, mattis est nisl
            facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu
            pellentesque turpis non. In consectetur magna feugiat id nisl lorem
            leo vel eget. Tempus suscipit turpis eu pellentesque turpis non.
          </p>
        </div>
      </div>
    </div>
  </li>

  <li class="acordeon-list__item js-acordeon-item">
    <div class="acordeon-list__desc">
      <button class="acordeon-list__btn js-acordeon-btn" type="button">
        <span class="acordeon-list__btn-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra mi
          lacinia aliquam quis morbi orci at nisi, dignissim.
        </span>

        <span class="acordeon-list__btn-ico"></span>
      </button>

      <div class="acordeon-list__text-wrap">
        <div class="acordeon-list__text js-accodreon-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst
            pulvinar est facilisi condimentum commodo, mattis est nisl
            facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu
            pellentesque turpis non. In consectetur magna feugiat id nisl lorem
            leo vel eget. Tempus suscipit turpis eu pellentesque turpis non.
          </p>
        </div>
      </div>
    </div>
  </li>

  <li class="acordeon-list__item js-acordeon-item">
    <div class="acordeon-list__desc">
      <button class="acordeon-list__btn js-acordeon-btn" type="button">
        <span class="acordeon-list__btn-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </span>

        <span class="acordeon-list__btn-ico"></span>
      </button>

      <div class="acordeon-list__text-wrap">
        <div class="acordeon-list__text js-accodreon-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst
            pulvinar est facilisi condimentum commodo, mattis est nisl
            facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu
            pellentesque turpis non. In consectetur magna feugiat id nisl lorem
            leo vel eget. Tempus suscipit turpis eu pellentesque turpis non.
          </p>
        </div>
      </div>
    </div>
  </li>

  <li class="acordeon-list__item js-acordeon-item">
    <div class="acordeon-list__desc">
      <button class="acordeon-list__btn js-acordeon-btn" type="button">
        <span class="acordeon-list__btn-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra mi
          lacinia aliquam quis morbi orci at nisi, dignissim.
        </span>

        <span class="acordeon-list__btn-ico"></span>
      </button>

      <div class="acordeon-list__text-wrap">
        <div class="acordeon-list__text js-accodreon-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst
            pulvinar est facilisi condimentum commodo, mattis est nisl
            facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu
            pellentesque turpis non. In consectetur magna feugiat id nisl lorem
            leo vel eget. Tempus suscipit turpis eu pellentesque turpis non.
          </p>
        </div>
      </div>
    </div>
  </li>

  <li class="acordeon-list__item js-acordeon-item">
    <div class="acordeon-list__desc">
      <button class="acordeon-list__btn js-acordeon-btn" type="button">
        <span class="acordeon-list__btn-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </span>

        <span class="acordeon-list__btn-ico"></span>
      </button>

      <div class="acordeon-list__text-wrap">
        <div class="acordeon-list__text js-accodreon-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst
            pulvinar est facilisi condimentum commodo, mattis est nisl
            facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu
            pellentesque turpis non. In consectetur magna feugiat id nisl lorem
            leo vel eget. Tempus suscipit turpis eu pellentesque turpis non.
          </p>
        </div>
      </div>
    </div>
  </li>
</ul>
