<header class="header js-header">
  <div class="header__wrap">
    <div class="header__logo-wrap">
      <a href="/" class="header__logo">
        <img class="header__logo-pic" src="./img/logo.svg" alt="Мув">
      </a>
    </div>

    <div class="header__open-menu">
      <button class="open-menu js-open-menu" type="button">
        <span></span>
      </button>
    </div>

    <div class="header__overlay js-overlay"></div>

    <div class="header__content">
      <nav class="header__menu">@@include('./menu.html')</nav>

      <div class="header__langs">@@include('./langs.html')</div>

      <div class="header__socials">@@include('./socials.html')</div>
    </div>
  </div>
</header>
