<section class="prev-ban">
  <div class="prev-ban__wrap">
    <div class="prev-ban__desc">
      <p class="prev-ban__subtitle">Національна програма мобільності молоді</p>

      <p class="prev-ban__title">Мандруй! Уявляй! Відкривай!</p>

      <p class="prev-ban__text">
        Найбільша в Центральній та Східній Європі 7-денна програма внутрішніх
        обмінів для молоді віком від 14 до 21 року. Її ініціатором є
        Міністерство культури, молоді та спорту України, в основу діяльності
        якого покладені демократичні цінності та принципи всебічного розвитку
        особистості.
      </p>

      <a href="#" class="button">Стати учасником програми МУВ</a>
    </div>

    <div class="prev-ban__bg">
      <picture>
        <source srcset="./img/bg/bg.webp" type="image/webp">
        <img class="prev-ban__pic" src="./img/bg/bg.png" alt="bg">
      </picture>
    </div>
  </div>
</section>
