<ul class="socials">
  <li class="socials__item">
    <a href="#" class="socials__link" title="facebook">
      <svg>
        <use xlink:href="#facebook"></use>
      </svg>
    </a>
  </li>

  <li class="socials__item">
    <a href="#" class="socials__link" title="instagram">
      <svg>
        <use xlink:href="#insta"></use>
      </svg>
    </a>
  </li>

  <li class="socials__item">
    <a href="#" class="socials__link" title="telegram">
      <svg>
        <use xlink:href="#teleg"></use>
      </svg>
    </a>
  </li>

  <li class="socials__item">
    <a href="#" class="socials__link" title="youtube">
      <svg>
        <use xlink:href="#yt"></use>
      </svg>
    </a>
  </li>
</ul>
